/*
 * Stile per tutte le pagine  9ACADC per box
 */
body {
    background-color: #334154;
    font-family: "Open Sans", sans-serif, segoe;
}

h1 {
    font-size: 18pt;
    font-weight: bolder;
    color: #28374c;
}

h2, h3 {
    font-size: 15pt;
    font-weight: bold;
    color: #28374c;
}

/*
 * Link
 */
a:link {
    color: #2a7ef7;
}
a:visited {
    text-decoration: underline;
    color: #000e23;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #2a7ef7;
    cursor: pointer;
}

/*
 * Testo
 */
p, ul {
   color: #3e526d;
}


/*
 * Layout
 */

label{
    display: inline-block;
}

input {
    width: 70%;
    padding: 7px 10px;
    margin: 1.5% 25%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
textarea{
    height: 30%;
    width: 70%;
    padding: 7px 10px;
    margin: 1.5% 25%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

button {
    background-color: #c7c5db;
    border: 1px solid #28374c;
    border-radius: 6px;
    color: #28374c;
    padding: 13px 32px;
    text-decoration: none;
    margin: 1px 1px;
    outline: none;
    width: 33%;
    cursor: pointer;
}

button:focus{
    background-color: #f5f4ff;
    color: #000e23;
}

button:hover{
    background-color: #28374c;
    color: whitesmoke;
}

input:focus{
    border: 1px solid #12223a;
}




label::before, label::after {
    content: '\A';
    white-space: pre;
}

/*
 * Barra di navigazione
 */
nav {
    border: 1.5px ridge;
    border-top: none;
    border-color: #4b76bc;
    border-radius: 0 0 6px 6px;
    background-color: #f5f4ff;
    
    position: fixed;
    min-height: 5%;
    min-width: 98%;
    top: 0px;
    left: 0px;
    right: 0;
    margin: 0 8px
}

nav ul, nav li, aside ul{
    list-style-type: none;
    display: inline-block;
}

nav ul{
    padding-left: 32px;
}

nav li {
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #4b76bc;
}

nav li img{
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -29px;
}

nav ul#lastlog{
    float: right;
    padding-left: 0;
}

nav li#lastlog{
    border-right: 0px solid #4b76bc;
}

nav li.active{
    text-decoration: underline;
    font-weight: bold;
}

/*
 * Sidebar
 */
aside {
    position: fixed;
    
    float: left;
    border: 1.5px ridge;
    border-color: #4b76bc;
    border-radius: 6px;
    background-color: #f5f4ff;
    
    width: 22.5%;
    min-height: 88%;
    top: 10%;
}

aside h2{
    padding-left: 17px;
    margin-bottom: 0px;
}

aside ul{
    list-style-type: none;
    margin-top: 3px;
}
aside li{
    text-align: left;
    margin-left: -21px;
    margin-top: -2px;
    
}

aside li::before{
}

aside li:first-child{
    margin-top: 0px;
}

aside li img.utente, nav li img.utente{
    border-radius: 10px;
    margin: 0;
}

/*
 * Div
 */
div {
    border: 1.5px ridge;
    border-color: #4b76bc;
    border-radius: 6px;
    background-color: #f5f4ff;
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-bottom: 10px;
    margin-top: 10px;
    
}

div::after, div::before {
    content: '\A';
    white-space: pre;
}

div.linkinterni {
    width: 350px;
}

/*
 * CSS SOLO PER LA BACHECA
 */
 

    #bacheca .post{
        text-align: left;
    }
    
    #post1 {
        margin-top: -8px;
    }
    
 /*
 * Section
 */
section {
    float: right;
    width: 75%;
    top: 10vh;
    position: relative;
    z-index: -1;
}

#bacheca section h2{
    margin-top: -13px;
}

section div.utente, section div.content, section div h2, section div p {
    border: 0;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0;
}

section div.utente a{
    text-decoration: none;
}

section div.utente img{
    border-radius: 20px;
}

    #bacheca section .post .content img {
        display: block;
        margin: auto;
        width: 40%;
    }
    
    div.linkinterni{
        width: 35%;
        background-color: #e8f0ff;
        margin: 0;
    }
    
    div.info{
        margin-top: 66px;
    }

/*
 * CSS SOLO PER IL LOGIN
 */

#login div{
    margin: 0;
}

#login .outer, #login .middle {
    border: none;
    background-color: #334154;
    z-index: -1;
}

#login .outer {
    display: table;
    position: absolute;
    height: 98%;
    width: 98%;
}

#login .middle {
    display: table-cell;
    vertical-align: middle;
}

#login .inner {
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
}

#login h1 {
    text-align: center;
}

#login form, #login form button{
    display: block;
    margin: auto;
    width: 40%;
}

#login form button{
    margin-top: 8%;
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: auto;
    width: 100%;
    
    padding: 13px 27px;
    
}

#login .middle ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    
    
    font-size: 18pt;
    font-weight: bolder;
    color: #ffffff;
}

#login form label{
    padding: 0% 15%;
}

#login form input{
    margin: 1.5% 15%;
}

/*
 * CSS PER PROFILO
 */
#profilo section div {
    top: 10vh;
    min-height: 87.9vh;
    
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#profilo section{
    top: 56px;
}

#profilo section img {
    border-radius: 120px;
    float: left;
    margin-right: 1%;
    margin-left: 10%;
    margin-top: 2%;
}

#profilo section label {
    padding: 0% 25%;
}
#profilo form{
    width: 65%;
    margin-right: 0;
    margin-left: auto;
}

#profilo button {
    width: 45%;
    margin: 1px 0px;
    padding: 13px 5px;
}



@media only screen and (max-width: 480px){
    
    nav ul{
        padding-left: 0;
        display: inline-block;
    }
    
    nav{
        min-width: 94%;
    }
    
    nav ul li:first-child{
        display: block;
        text-align: left;
        
        padding-left: 10px;
        padding-right: 10px;
        
        border-right: none;
    }
    
    nav li img{
        margin-top: -7px;
        margin-left: 0;
    }
    
    nav ul li{
        border-right: none;
        padding-left: 10px;
        padding-right: 10px;
    }    
    
    nav ul#lastlog{
        display: inline-block;
        float: none;
        padding-left: 0;
    }
    
    aside{
        display: none;
    }
    
    section{
        float: none;
        width: 100%;
        top: 16vh;
    }
    
    #profilo section {
        top: 75px;
        width: 100%;
    }
    
    #profilo section div{
        min-height: 85.9vh;
    }
    
    #profilo section form{
        margin: auto;
    }
    #profilo section img{
        float: none;
        margin-left: 24%;
    }
    
    #profilo section input, #profilo section textarea {
        margin: 1.5% 0%;
    }
    
    #profilo section label{
        padding: 0;
    }
    
    #login form button{
        padding: 13px 13px;
    }
    
    #login form input{
        margin: 1.5% 0%;
        width: 100%;
    }
    
    #login form label{
        padding: 0%;
    }
    
    div.info {
        margin-top: 70px;
    }
    div.linkinterni{
        width: 85%;
    }
}

@media only screen and (max-width: 1240px){
    /*va bene così*/
}


/*
 * IMMAGINI DECORATIVE
 */

/*
 * La seguente immagine è stata considerata decorativa in quanto costituisce un semplice abbellimento della pagina di log-in
 */
#login .middle li {
    background-image: url(IMG/icona_user2.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    
    padding: 10px 0 10px 52px;
    display: inline-block;
}
/*le altre sono parte integrante dell'html*/