/*
 * Stile per tutte le pagine  9ACADC per box
 */
body {
    background-color: #334154;
    font-family: "Open Sans", sans-serif, segoe;
}

h1 {
    font-size: 18pt;
    font-weight: bolder;
    color: #ffffff;
}

h2, h3 {
    font-size: 15pt;
    font-weight: bold;
    color: #28374c;
}

/*
 * Link
 */
a:link {
    color: #2a7ef7;
}
a:visited {
    text-decoration: underline;
    color: #000e23;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #2a7ef7;
}

/*
 * Testo
 */
p, ul {
   color: #3e526d;
}


/*
 * Layout
 */

label::before, label::after {
    content: '\A';
    white-space: pre;
}

/*
 * Barra di navigazione
 */
nav {
    border: 1.5px ridge;
    border-top: none;
    border-color: #4b76bc;
    border-radius: 0 0 6px 6px;
    background-color: #f5f4ff;
    
    position: fixed;
    min-height: 5%;
    min-width: 98%;
    top: 0px;
    left: 0px;
    right: 0;
    margin: 0 8px
}

nav ul, nav li, aside ul{
    list-style-type: none;
    display: inline-block;
}

nav li {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #4b76bc;
}

nav li img{
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -29px;
}

nav ul#lastlog{
    float: right;
    list-style-type: img;

}

nav li#lastlog{
    border-right: none;
    background-image: url(IMG/icona_user.png);
    background-repeat: no-repeat;
    background-position: 0.5px 0px;
}

nav li.active{
    text-decoration: underline;
    font-weight: bold;
}

/*
 * Sidebar
 */
aside {
    position: fixed;
    
    float: left;
    border: 1.5px ridge;
    border-color: #4b76bc;
    border-radius: 6px;
    background-color: #f5f4ff;
    
    width: 22.5%;
    min-height: 88%;
    top: 10%;
}

aside h2{
    padding-left: 17px;
    margin-bottom: 0px;
}

aside ul{
    list-style-type: img;
    margin-top: 3px;
}
aside li{
    text-align: left;
    margin-left: -21px;
    margin-top: -2px;
    
    background-repeat: no-repeat;
    background-position: 0.5px 0px;
}

aside li::before{
    content: url(IMG/icona_user.png);
}

aside li:first-child{
    margin-top: 0px;
}


/*
 * Section
 */
section {
    float: right;
    width: 75%;
    top: 10vh;
    position: relative;
    z-index: -1;
}

#bacheca section h2{
    margin-top: -13px;
}


/*
 * Div
 */
div {
    border: 1.5px ridge;
    border-color: #4b76bc;
    border-radius: 6px;
    background-color: #f5f4ff;
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-bottom: 10px;
    margin-top: 10px;
    
}

div::after, div::before {
    content: '\A';
    white-space: pre;
}

div.linkinterni {
    width: 350px;
}


/*
 * CSS SOLO PER LA BACHECA
 */
 

    #bacheca .post{
        text-align: left;
    }
    
    #post1 {
        margin-top: -8px;
    }